$fontfamily: "Yusei Magic", sans-serif;
$basicFontSize: 10px;
$buttonBackground: #184d47;
$siteBackground: #045762;
$tableBackground: #4e8d7c;
$fontColor: #e6e6e6;
$shadow: 0 0 10px rgba(0, 0, 0, 0.3);
